<h1 style="text-align: center;">Gestión de Usuarios</h1>

<div class="divSearch">
  <h2>Parámetros de búsqueda</h2>
  <input type="button" value="Consultar" class="frmButton" (click)="searchUser(newUser.value)" /> 
  <input type="button" value="Limpiar" class="frmButton" (click)="clearFieldUserName()" /> 
  <br/>

  <label>Nombre</label>
  <input type="text" class="form-control" [(ngModel)]="nameUser" #newUser/>

</div>

<div class="divListUsers">
  <h2>Lista de Usuarios</h2>
  <input type="button" value="Crear" class="frmButton" (click)="clearFormUser()" /> 

  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Rol</th>
        <th>Nombre</th>
        <th>Activo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of usuarios; let i = index">
        <td>{{item.id_usuario}}</td>
        <td>{{item.rol_id}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.activo}}</td>
        <td> <input type="checkbox" [disabled]="isDisabled" [checked]="selected === i" 
          (change)="selected = i" id="{{item.id_usuario}}" (click)="getValueOfTD(item)"/> </td>
      </tr>
    </tbody>
  </table>

</div>

<div class="formUser">
  <h2>Información del Usuario</h2>

  <form [formGroup]="usuarioForm" (ngSubmit)="saveUser()">
    
    <div class="form-group">
      <label>Nombre</label>
      <input type="text" formControlName="nombre" class="form-control" [(ngModel)]="userSelected.nombre"/>
    </div>
    <div class="form-group">
      <label>Rol</label>
      <select name="rol_id" id="rol_id" formControlName="rol_id" class="form-control" [(ngModel)]="userSelected.rol_id">
        <option [ngValue]="item.id_rol" *ngFor="let item of roles" > {{item.nombre}} </option>
      </select>
    </div>
    <div class="form-group">
      <label>Activo</label> <br/>
      <input type="checkbox" formControlName="activo" [(ngModel)]="userSelected.activo" />
    </div>

    <input type="submit" value="Guardar" class="frmButton" [disabled]="usuarioForm.invalid" /> 
    <input type="button" value="Editar" class="frmButton" (click)="updateUser()" /> 
    <input type="button" value="Eliminar" class="frmButton" (click)="delete(userSelected)" /> 

  </form>
</div>

<router-outlet></router-outlet>